name: Test NetBird Pulumi Provider
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: integration-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: [1.24.x]
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Install Pulumi CLI
        uses: pulumi/actions@v6

      - name: Build Provider
        run: |
          cd provider
          go build -o ../bin/pulumi-resource-netbird ./cmd/pulumi-resource-netbird

      - name: Run Integration Tests
        run: |
          cd tests
          go test -v ./...
        env:
          PULUMI_CONFIG_PASSPHRASE: test
